# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- How to create a Jupyter Notebook
- How to create a markdown cell and code cell
- Commonly used libraries used by Data Scientists
- Popular languages for Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Apache Spark
3. Scikit-learn

|Data Science Tools|
|------------------|
|Anaconda|
|RStudio|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [60]:
#This a simple arithmetic expression to mutiply then add integers

Three = 3
Four = 4
Five = 5

Result = (3*4)+5
print(Result)

17

In [61]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = 60

Result = minutes // hour
print(Result)

3

## Author
Linda Mayambela